<!DOCTYPE html>
<html>
  <head>
    <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="css/styles.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Old+Standard+TT" rel="stylesheet">
    <title>Word Search | Your Results</title>
  </head>
  <body>
    <div class="container">
      <h1 class="jumbotron">Your Results</h1>
      <h4>Here's how many times your word "{{ word }}" comes up in your phrase: <strong>{{ count }}</strong>.</h4><br>
      <a href="/"><button type="button" class="btn">Try Another</button></a>
    </div>
  </body>
</html>
